section.contacts
	img.contacts__shadow(src="img/contacts-top-bg.png", alt="@")
	.contacts__box 
		h1.section-title.contacts__title контакты
		.contact 
			.contact__content
				img.contact__logo(src="img/logo-contacts.png", alt="@")
				.contact__title Главный офис Юридической Группы «ИнЮрКон» располагается по адресу:
				span.contact__val.contact__val--adress 101000, г. Москва, улица Покровка 40Б, подъезд 3
				.contact__row 
					.contact__item
						.contact__title Телефоны: 
						a.contact__val.contact__val--mb(href="tel:+74959161925") +7 (495) 916-19-25
						a.contact__val.contact__val(href="tel:+74959160143") +7 (495) 916-01-43
					.contact__item
						.contact__title e-mail: 
						a.contact__val.contacts__val--email(href="mailto:secretary@inyurcon.ru") secretary@inyurcon.ru
			.contact__footer
				a.button.contact__button( href="") Адреса всех филиалов
					img(src="img/icon-button-arrow.png", alt="/")
	#map.contacts__map