section.feedback.js-parallax3
	.feedback__box 
		h4.feedback__title.section-title
			img(src="img/icon-email.png", alt="/")
			| форма обратной связи
		form.feedback__form.form(action="#")
			input.form__input(type="text" placeholder="Имя") 
			input.form__input.js-maskPhone(type="text" placeholder="Телефон")
			button.form__button Отправить 
			
