section.home.js-parallax1
	.home__content 
		.home__name 
			h1.home__title Юридическая Группа #[br] «ИнЮрКон»
			p.home__tagtitle Объединение Коллегии Адвокатов и Юридической Фирмы
		.home__info 
			p.home__text Юридическая группа "Инюркон" объединяет в себе опыт профессионалов в различных отраслях права. Каждый сотрудник обладает высокой квалификацией, что позволяет юридической группе на протяжении более чем 20 лет успешно оказывать юридическую помощь своим доверителям.
			p.home__text Широкий спектр оказываемых услуг и эффективное сотрудничество адвокатов и юристов, специализирующихся в различных областях, гарантируют доверителям качественную защиту своих интересов в случае возникновения споров, а так же доступное консультирование по правовым вопросам
			button.button.home__button Подробнее
				img(src="img/icon-button-arrow.png", alt="/")