section.article 
    .article__box 
        .title-box
            h1.section-title.article__title заголовок новости
            a.allnews-button.article__allnews(href="news.html") Все новости
        article.article__inner
            img.article__foto(src="img/article-img.webp", alt="#")
            .article__content 
                p Полный текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Полный текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Краткий текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Полный текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Краткий текст новости и общая информация о событии краткий текст.
                p Полный текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Полный текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Краткий текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Полный текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Краткий текст новости и общая информация о событии краткий текст.
                p Полный текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Полный текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Краткий текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Полный текст новости и общая информация о событии краткий текст. Текст новости и общая информация. Краткий текст новости и общая информация о событии краткий текст.
                .news-nav
                    a.news-nav__link(href="#") Пред. новость 
                    .new-nav__div | 
                    a.news-nav__link(href="#") След. новость 
