img.persona__bg(src="img/persona-bg.webp", alt="@")
section.persona 
  .persona__box
    .persona__inner
      .persona__content
        h1.section-title.persona__title Степанюк Елена  
        p.persona__status ГЕНЕРАЛЬНЫЙ ДИРЕКТОР, ПАРТНЕР ЮРИДИЧЕСКОЙ ГРУППЫ «ИНЮРКОН», РУКОВОДИТЕЛЬ ПРАКТИКИ ПО РАЗРЕШЕНИЮ НАЛОГОВЫХ СПОРОВ. 
        .persona__stage 
          p Елена является специалистом в области разрешения трудовых споров, имеет большой опыт работы в сфере налоговых споров, с 2021 года является налоговым консультантом.
          b Стаж юридической практики - 23 года
        .persona-info 
          .persona-info__title образование и карьера:
          ul.persona-info__list 
            each item in ['Московский государственный юридический университет имени о. е. кутафина (мгюл), 2006.','Арбитражный суд города москвы (специалист), 2000 - 2001.','Коллегия адвокатов "инюркон" адвокатской палаты города москвы (помощник адвоката), 2002 - 2005.','Московский кредитный банк (начальник управления по работе с проблемной задолженностью), 2006 - 2011.','АО «Райффайзенбанк» (руководитель группы судебного взыскания, старший вице-президент), 2011 - 2015.','Профессиональная переподготовка, менеджмент в образовании, 2017.','ГБОУ школа марьина роща (заместитель директора по управлению ресурсами), 2016 - 2018.','Руководитель практики по разрешению налоговых споров юридической группы «инюркон» с 2018 года.','Заместитель генерального директора ооо «инюркон» с 20.09.2018.','Налоговый консультант с февраля 2021 года.','Генеральный директор ОООО «ИнЮрКон».']
              li.persona-info__item= item
      img.persona__foto(src="img/persona-1.jpg", alt="@")