section.reviews
	.reviews__box
		h1.section-title.reviews__title Отзывы
		.reviews__slider 
			.swiper.js-sliderReview
				.swiper-wrapper
					each item in ['review-1.png','review-2.png','review-3.png','review-4.png']
						.swiper-slide
							a.review(href="img/" + item data-fancybox="reviews")
								img(src="img/" + item, alt="@") 
				.swiper-pagination
