-
	const services = [
		{icon: 'icon-service-1.png', title: 'Трудовое право', text: 'подготовка локальных нормативных актов (положение об оплате труда, положение о премировании), форм трудовых договоров и дополнительных соглашений к ним, договоров о материальной ответственности, должностных инструкций; правовой анализ документов работодателя, выработка рекомендаций по приведению в соответствие требованиям законодательства; подготовка и проведение комплекса мероприятий по сокращению численности или штата работников; представление интересов работодателя в трудовых спорах'},
		{icon: 'icon-service-2.png', title: 'Представление интересов в арбитражных судах и судах общей юрисдикции', text: 'анализ представленных клиентом документов, формирование правовой позиции по делу, претензионная работа, подготовка процессуальных документов, представление интересов доверителя в судебных заседаниях, обжалование судебных актов во всех инстанциях, сопровождение исполнительного производства '},
		{icon: 'icon-service-3.png', title: 'Договорное право', text: 'подготовка и правовой анализ договоров купли-продажи, мены, дарения, ренты, аренды, найма жилого помещения, безвозмездного пользования, подряда, оказания услуг, перевозки, экспедиции, займа и кредита, лизинга, поручения, комиссии, агентирования, доверительного управления имуществом; правовой анализ банковских договоров'},
		{icon: 'icon-service-4.png', title: 'Банкротство', text: 'сопровождение процедуры банкротства; представление интересов кредиторов, конкурсного '},
		{icon: 'icon-service-5.png', title: 'Недвижимость', text: 'подготовка договоров купли-продажи, аренды недвижимого имущества, подготовка и подача документов в регистрирующий орган'},
		{icon: 'icon-service-6.png', title: 'Регистрационные мероприятия', text: 'сопровождение процедур создания, ликвидации, реорганизации юридических лиц, подготовка документов для внесения изменений в устав и ЕГРЮЛ'},
		{icon: 'icon-service-7.png', title: 'Уголовное право', text: 'защита собственников бизнеса и топ-менеджеров по уголовным делам'},
		{icon: 'icon-service-8.png', title: 'Налоги', text: 'консультирование по вопросам минимизации налоговых рисков; сопровождение камеральных, выездных налоговых проверок, обжалование их результатов'},
		{icon: 'icon-service-9.png', title: 'Споры с потребителями', text: 'подготовка процессуальных документов, подача их в суд, представление интересов производителя / дистрибьютора в судебных заседаниях, обжалование судебных актов'},
		{icon: 'icon-service-10.png', title: 'Интеллектуальная собственность', text: 'защита исключительных прав, сопровождение заключения лицензионных договоров и договоров об отчуждении исключительных прав, оспаривание действий регистрационных органов'},
		{icon: 'icon-service-11.png', title: 'Юридическое сопровождение бизнеса', text: '«due deal» предприятий; организация сопровождения сделок по покупке и продаже долей в уставном капитале, слияния и поглощения (M&A), сопровождение реструктуризации кредиторской задолженности; мораторий, отсрочка внесения ежемесячных платежей'}
	]

section.services.js-parallax2
	.services__box
		h2.services__title.section-title услуги
		.services-choose 
			.services-choose__buttons 
				button.services-choose__button.services-choose__button--yur Услуги для юр. лиц
				button.services-choose__button.services-choose__button--fiz Услуги для физ. лиц
			.services-choose__contents
				.services-choose__content
					.services-choose__box
						each item, i in services 
							.service
								.service__inner
									img.service__icon(src="img/new-services/"+ item.icon, alt="")
									h6.service__name= item.title 
									p.service__text= item.text

				.services-choose__content 1234