
@font-face{
    font-family: "FuturaPT-Book";
    src : url("../fonts/FuturaPT-Book.ttf");
}
@font-face{
    font-family: "FuturaPT-Medium";
    src : url("../fonts/FuturaPT-Medium.ttf");
}
@font-face{
    font-family: "FuturaPT-Bold";
    src : url("../fonts/FuturaPT-Bold.ttf");
}
@font-face{
    font-family: "YesevaOne-Regular";
    src : url("../fonts/YesevaOne-Regular.ttf");
}
@font-face{
    font-family: "Montserrat-Regular";
    src : url("../fonts/Montserrat-Regular.ttf");
}