.footer{
	display: flex;
	height: 570px;
	border-top: 10px solid #3e4e9c;
	background: #141558;
	@media(max-width: 992px){
		flex-direction: column;
		height: auto;
	}
}

.footer-contacts{
	display: flex;
	justify-content: flex-end;
	width: 33.6vw;
	height: 100%;
	background: url('../img/bg-footer.webp') center center/cover no-repeat;
	padding: 84px 27px 0 0;
	@media(max-width: 1300px){
		width: 29vw;
	}
	@media(max-width: 992px){
		width: 100%;
		padding: 50px 15px;
		align-items: flex-start;
		justify-content: flex-start;
	}
	&__box{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__logo{
		margin: 0 0 38px 0;
	}
	&__value{
		font-size: 16px;
		color: #FFF;
		line-height: 1;
		&:hover{
			color: #FFF;
		}
		&:not(:last-child){
			margin: 0 0 16px 0;
		}
	}
}

.footer-navigation{
	display: flex;
	padding: 80px 0 35px 0;
	@media(max-width: 992px){
		flex-direction: column;
	}
	&__col{
		padding: 0 0 0 18px;
		border-left: 1px solid #4b4b90;
		
		&:first-child{
			margin: 0 140px 0 0;
			@media(max-width: 1300px){
				margin: 0 28px 0 0;
				@media(max-width: 992px){
					margin: 0 0 0 0;
				}
			}
		}
		&:nth-of-type(2){
			margin: 0 28px 0 0;
			@media(max-width: 992px){
				margin: 0 0 0 0;
			}
		}
		@media(max-width: 992px){
			width: 100%;
		}
	}
	&__title{
		margin: 0 0 27px 0;
		font-family: var(--font-family-2);
		font-size: 18px;
		color: #FFF;
		text-transform: uppercase;
	}
	&__item{
		margin: 0 0 16px 0;
	}
	&__link{
		display: block;
		font-size: 16px;
		color: #FFF;
		line-height: 1;
		@media(max-width: 992px){
			br{
				display: none;
			}
		}
		&:hover{
			color: #FFF;
			text-decoration: underline;
		}
	}
}

.subfooter{
	padding: 16px 0;
	background: #0f0f40;
	&__box{
		@include boxWidth(1200px);
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		@media(max-width: 992px){
			flex-direction: column;
			align-items: center;
		}
	}
	&__links{
		display: flex;
		flex-direction: column;
		button{
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__item{
		font-size: 14px;
		color: #FFF;
		line-height: 1.4;
		&:hover{
			color: #FFF;
		}
	}
}

