.header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 9px 0;
    transition: all .3s;
    &__box{
        @include boxWidth(1735px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        position: relative;
        z-index: 101;
        @media(max-width: 1200px){
            width: 160px;
        }
    }
    &__burger{
        position: relative;
        z-index: 101;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        height: 52px;
        padding: 10px;
        background: var(--color-2);
        border-radius: 30px;
        i{
            font-size: 30px;
            color: #FFF;
        }
    }
    &.active{
        background: var(--color-3); 
    }
}

body:not(.main-page){
    padding-top: 80px;
    .header{
        background: var(--color-3); 
    }
}

.header-menu{
    @media(max-width: 992px) {
        position: fixed;
        z-index: 100;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 70px 0 0 0;
        background: var(--color-2); 
        transition: .3s;
        &.active{
            right: 0;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        @media(max-width: 992px) {
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__item{

    }
    &__link{
        display: inline-block;
        padding: 10px 30px;
        font-size: 28px;
        color: #FFF;
        border-radius: 30px;
        &:hover{
            color: #FFF;
            background: var(--color-2);
            text-decoration: underline;
        }
        @media(max-width: 1200px){
            padding: 10px 20px;
            font-size: 24px;
        }
    }
}

.header-phone{
    position: relative;
    z-index: 101;
    display: flex;
    align-items: center;
    padding: 7px 30px 7px 18px;
    background: var(--color-2);
    border-radius: 30px;
    @media(max-width: 992px){
        padding: 10px;
    }
    &__icon{
        margin: 0 10px 0 0;
        @media(max-width: 992px){
            margin: 0 0 0 0;
        }
    }
    &__numbers{
        display: flex;
        flex-direction: column;
        span{
            font-size: 20px;
            font-family: var(--font-family-2);
            color: #FFF;
            line-height: 1.2;
            @media(max-width: 1200px){
                font-size: 17px;
            }
        }
        @media(max-width: 992px){
            display: none;
        }
    }
}
