.home{
	padding: 200px 0 120px 0;
	background: 
    linear-gradient(rgba(6, 7, 99, 0.5), rgba(6, 7, 99, 1)), 
    url('../img/bg-home.webp') center center/cover no-repeat;
    
    &__content{
        @include boxWidth(1200px);
	}

    &__name{
        margin-bottom: 30px;
    }
	
	&__title{
		margin: 0 0 24px 0;
		font-family: var(--font-family-4);
		font-size: 34px;
		color: #FFF;
		text-transform: uppercase;
		@media(max-width: 992px){
			font-size: 32px;
			br{
				display: none;
			}
		}
	}
	
    &__tagtitle{
		font-size: 25px;
		color: #FFF;
		@media(max-width: 992px){
			font-size: 18px;
		}
	}
	
    &__info{
		max-width: 840px;
		width: 100%;
		margin: 0px 0 0 auto;
		text-align: right;
		
		@media(max-width: 1500px){
			margin: 30px 0 0 auto;
		}
		@media(max-width: 992px){
			text-align: left;
		}
	}
	
    &__text{
		margin: 0 0 30px 0;
		font-size: 18px;
		color: #FFF;
		line-height: 1.2;
		@media(max-width: 992px){
			font-size: 16px;
		}
	}
	
    &__button{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 59px 0 0 auto;
        max-width: 200px;
		padding: 8px 28px;
		font-family: var(--font-family-2);
		font-size: 21px;
		color: var(--color-main);
		background: #FFF;
		border-radius: 30px;
		transition: background .3s;
		img{
			margin: 0 0 0 18px;
		}
		&:hover{
			background: #ebe9e9;
		}
	}

}
