.reviews{

    padding: 87px 0 152px 0;
    background: var(--color-8);

    &__box{
        @include boxWidth(980px);
    }

    &__title{
        margin: 0 0 94px 0;
        text-align: center;
        color: var(--color-main);
    }

    &__slider{
        .swiper-wrapper{
            margin-bottom: 30px;
        }
        .swiper-pagination{
            position: static;
            &-bullet{
                background: var(--color-main);
            }
        }
    }

}

.review{

    img{
        width: 100%;
        object-fit: cover;  
    }

}