.services{
	padding: 91px 0 128px 0;
	background: url('../img/services-bg.webp') center center/cover no-repeat;
	&__title{
		margin: 0 0 53px 0;
        color: var(--color-main);
		text-align: center;
	}
	&__box{
		@include boxWidth(1300px);
	}
}

.services-choose{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
    &__buttons{
		display: flex;
		border-radius: 50px;
		border: 3px solid #060763;
		margin: 0 0 72px 0;
		overflow: hidden;
	}
	
    &__button{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 250px;
		height: 60px;
		font-size: 21px;
		color: #FFF;
		background: #3e4e9c;
		@media(max-width: 992px){
			width: 150px;
			height: 40px;
			font-size: 16px;
		}
		&:hover{
			background: #060763;
		}
		&.active{
			background: #060763;
		}
	}
	
    &__contents{
        width: 100%;
	}

    &__box{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;

        @media(max-width: 992px){
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__presentbox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-bottom: 15px;

        @media(max-width: 992px){
            grid-template-columns: repeat(1, 1fr);
        }

        .service{
            &__text{
                display: block;
            }
            &__inner{
                @media(min-width: 992px){
                    &:hover{
                        z-index: 1;
                        width: 100%;
                        .service__icon,
                        .service__name{
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}

.service{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    
    
    &__inner{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        min-height: 100%;
        padding: 32px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
        transition: all .3s;
        @media(max-width: 992px){
            position: static;
            padding: 12px;
        }
    }

    &:nth-child(4n){
        .service__inner{
            right: 0;
        }
    }

    @media(max-width: 992px){
        min-height: initial;
        &:nth-child(4n){
            .service__inner{
                right: initial;
            }
        }
        &:nth-child(2n){
            .service__inner{
                right: 0;
            }
        }
    }

    &__icon{
        margin-bottom: 10px;
        height: 50px;
        transition: all .3s;
    }
     
    &__name{
        margin-bottom: 10px;
        font-family: var(--font-family-2);
        font-size: 18px;
        line-height: 1;
        color: var(--color-3);
        transition: all .3s;
    }

    &__text{
        margin-top: auto;
        font-size: 16px;
        line-height: 1.2;
        color: var(--color-3);
        -webkit-line-clamp: 3; 
        display: none;
        // display: -webkit-box; 
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media(max-width: 992px){
            display: block;
            margin-top: initial;
            overflow: visible;
        }
    }

    &__inner{
        @media(min-width: 992px){
            &:hover{
                z-index: 1;
                width: calc(200% + 15px);
                .service__icon,
                .service__name{
                    transform: scale(1.05);
                }
                .service__text{
                    display: block;
                    overflow: visible;
                }
            }
        }
    }
}
