<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title InYurKon | Главная
	body.main-page

		-
			const mainPage = 1

		// ======================================== HEADER
		include ./../sections/_header.pug
		// ======================================== SECTION
		include ./../sections/_home.pug
		// ======================================== SECTION
		.scroll-box
			include ./../sections/_services2.pug
			// ======================================== SECTION
			include ./../sections/_advantages.pug
			// ======================================== SECTION
			include ./../sections/_feedback.pug
		// ======================================== SECTION
		include ./../sections/_news.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug