<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title InYurKon | Новость
	body

		// ======================================== HEADER
		include ./../sections/_header.pug
		// ======================================== SECTION
		include ./../sections/_new.pug
		// ======================================== SECTION
		include ./../sections/_feedback.pug
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug