<!DOCTYPE html>
html(lang="ru")
  head
    include ./../sections/_head.pug
    title InYurKon | Команда
  body.team-page
    img.team-bg(src="img/team-bg.webp", alt="@")
    .team__titlebox
      img.team__titlebg(src="img/team-bg.webp", alt="@")
      .team__box 
        h1.section-title.team__title команда
    // ======================================== HEADER
    include ./../sections/_header.pug
    // ======================================== SECTION
    include ./../sections/_team.pug
    // ======================================== SECTION
    include ./../sections/_feedback.pug
    // ======================================== FOOTER
    include ./../sections/_footer.pug
    // ======================================== SCRIPTS
    include ./../sections/_scripts.pug