<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Templates
	body
		//- mixins
		include ./../mixins/_mixin1.pug
		include ./../mixins/_mixin2.pug
		include ./../mixins/_mixin3.pug
		include ./../mixins/_mixin4.pug
		include ./../mixins/_mixin5.pug
		// ======================================== HEADER
		include ./../sections/_header.pug
		.templates
			h1 Шаблоны
			// ======================================== SECTION
			
			// ======================================== SECTION
			
			// ======================================== SECTION
			
			// ======================================== SECTION
			
			// ======================================== SECTION
		// ======================================== FOOTER
		include ./../sections/_footer.pug
		// ======================================== SCRIPTS
		include ./../sections/_scripts.pug