@import 'blocks/fonts';
@import 'blocks/vars';

/* ===================================================================*/
/* ====================================================== main styles */
/*====================================================================*/

:root{
	--font-family-main: 'FuturaPT-Book', sans-serif;
	--font-family-1: 'FuturaPT-Medium', sans-serif;
	--font-family-2: 'FuturaPT-Bold', sans-serif;
	--font-family-3: 'Montserrat-Regular', sans-serif;
	--font-family-4: 'YesevaOne-Regular', sans-serif;
	--color-main: #040562;
	--color-2: #00014E;
    --color-3: #060763;
    --color-4: #313131;
    --color-5: #cdd1e4;
    --color-6: #F3F3F3;
    --color-7: #d0d0d0;
    --color-8: #EBEBEB;
}

*,
p,
span,
h1,h2,h3,h4,h5,h6{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
}
body{
	font-family: var(--font-family-main);
    zoom: 0.8;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
button{
    font-family: var(--font-family-main);
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	&:focus{
		outline: none;
	}
}
input{
	outline: none;
}

section{
	position: relative;
    transform: translate3d(0px, 0px, 0px);
}

.inner{

}

* ::-webkit-scrollbar {
    width: 6px; /* ширина всей полосы прокрутки */
  }
  
  * ::-webkit-scrollbar-track {
    background: #DDD; /* цвет зоны отслеживания */
    border-radius: 20px;
  }
  
  * ::-webkit-scrollbar-thumb {
    background-color: var(--color-3); /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
    border: 3px solid transparent;
  }

.section-title{
	font-family: var(--font-family-2);
	font-size: 52px;
	text-transform: uppercase;
	@media(max-width: 992px){
		font-size: 30px;
	}
}

.compensate-for-scrollbar {
	padding-right: 0 !important;
}

.mobile{
	display: none;
}

@media screen and ( max-width: 992px ){
	.mobile{
		display: block;
	}
	.desktop{
		display: none;
	}
}

.button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 0 0;
    padding: 9px 28px;
    font-family: var(--font-family-2);
    font-size: 18px;
    color: var(--color-main);
    background: #FFF;
    border-radius: 30px;
    border: 1px solid var(--color-7);
    transition: background .3s;
    img{
        position: absolute;
        right: 18px;
        margin: 0 0 0 18px;
    }
    &:hover{
        color: var(--color-main);
        background: #ebe9e9;
    }
}

/* ============================================================= TEMPLATES */
@import 'blocks/templates';
/* ============================================================= HEADER */
@import 'blocks/header';
/* ============================================================= SECTION */
@import 'blocks/home';
/* ============================================================= SECTION */
@import 'blocks/services2';
/* ============================================================= SECTION */
@import 'blocks/advantages';
/* ============================================================= SECTION */
@import 'blocks/feedback';
/* ============================================================= SECTION */
@import 'blocks/news';
/* ============================================================= SECTION */
@import 'blocks/new';
/* ============================================================= SECTION */
@import 'blocks/contacts';
/* ============================================================= SECTION */
@import 'blocks/reviews';
/* ============================================================= FOOTER */
@import 'blocks/footer';
